$darkblue: #05357c;
$gold : #cebe75;
$lightpurple: #9774d4;
$lightcyan : rgb(91, 177, 176);
$orange : #d66f14;
$darkorange : #812a01;
$lightgray: #bbbdc1;
$darkbrown : #3d2415;
$lightblue : rgb(27, 96, 158);


$officeblue: rgb(0, 73, 126);
$officedarkblue: #005a9e;
$officelightblue: rgb(0, 93, 161);
$officelighterblue: #0072c6;
$officetransparent:  rgba(255, 255, 255, 0.09);

$primarycolor: #f93b78;
$accentcolor : #12fcc6;
$secondarycolor: #075aff;;
$tertiarycolor: #183f94;
$accenttertiarycolor: #e6bf26;
$accentsecondarycolor:#201a56;

// from fut autobuyer
$border-radius:         0.2rem;

$sidebar-width:                   220px;
$sidebar-text-overflow-width:     100px;

$container-state-size:        20px;
$image-card-width:            260px;
$image-card-height:           135px;